.header {
  text-align: center;
}

.main {
  top-margin: 100px;
}

#height {
  height: 70px;
  border-bottom: 1px lightgrey solid;
}

.filters-box {
  border: solid lightgray;
  display: none;
}

.show {
  display: block;
}

.remove-button {
  font-style: italic;
  padding: 0px 4px;
}

/* RECIPES PAGE */

.recipe-page-title {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.recipe-section {
  margin-top: 100px;
}

.fridge-section {
  margin-top: 55px;
}

.fridge-box-in-search {
  height: 400px;
  background-color: silver;
}

.search-buttons {
  width: 100%;
}

.card {
  margin-bottom: 20px;
  width: 18em;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body {
  background-color: #f4f4f4;
}

/* HOME PAGE */
.home-page {
  margin-top: 30px;
  text-align: center;
}

#h-color {
  background-color: #ebebeb;
}

.home-height {
  height: 745px;
}

.home-button {
  width: 150px;
  height: 45px;
  margin: 40px;
  backdrop-filter: blur(2px) brightness(75%);
}

.header-link {
  height: 70px;
  width: 125px;
  padding: 0px;
  border-left: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
  color: black;
}

.header-button {
  margin-left: 633px;
}

.header-link :hover {
  background-color: lightgrey;
}

.buttons {
  margin: 0px;
  width: 125px;
  height: 70px;
}

/* RECIPE PAGE */

.recipe-row {
  margin-top: 30px;
}

.recipe-card-header {
  font-size: 30px;
  padding-top: 100px;
}

.recipe-type {
  text-transform: capitalize;
}

.card-image-container {
  padding: 30px;
  /* max-height: 350px;
  max-width: 500px; */
  overflow: hidden;
  height: 300;
  width: auto;
}

.ingredients-list,
.health-list {
  margin-top: 50px;
}
.recipe-info {
  font-size: 14px;
}

/* FRIGE PAGE */
.frige-row {
  margin-top: 30px;
}

.ingredients-box {
  margin-top: 0px;
  background-color: lightgoldenrodyellow;
  height: 235px;
}

.ingredient-input-box {
  padding-top: 15px;
}

.filters-box-inner,
.ingredient-box-inner {
  padding: 10px;
}

.filters-box-2 {
  margin-top: 15px;
  background-color: lightblue;
  height: 300px;
}

.form-body {
  padding: 10px;
}

.frige-header {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.frige-inventory-header {
  padding-top: 10px;
  text-align: center;
}

.frige-box {
  background-color: silver;
  height: 400px;
}

.fridge-ingredients {
  padding: 20px;
}

.ingredient-item {
  list-style-type: none;
}

span .remove-ingredient {
  padding-right: 10px;
}

.fridge-inputs {
  width: 400px;
}

.fridge-back-button {
  width: 80px;
}
