.header {
  text-align: center;
}

.filters-box {
  border: solid lightgray;
  display: none;
}

.show {
  display: block;
}

.recipes-container {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-body {
  background-color: lightgoldenrodyellow;
}
