.h-spacing {
  width: 500px;
  height: 200px;
}

.H-spacing {
  padding: 25px;
}

.logo {
  margin: 33px 24px;
}

.height {
  height: 50px;
}

.background-blur {
  backdrop-filter: blur(3px);
}

.error {
  width: 225px;
  margin-left: 12px;
  backdrop-filter: brightness(55%);
  padding-left: 5px;
}

.text-color {
  color: white;
}

.spacing {
  width: 100px;
}

.font-link {
  font-family: "Alegreya", serif;
}
